@import '../../index.scss';

$duration: .75s;
$delay: 0s;

.entry {
  position: absolute;
  perspective: 2000px;
  transform-style: preserve-3d;
  transition: top $duration $delay ease-in-out, left $duration $delay ease-in-out, width $duration $delay ease-in-out, height $duration $delay ease-in-out;

  &.expand {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;

    .entry-front {
      transform: rotateY(0deg);
    }
    .entry-back {
      transform: translateZ(1px) rotateY(-180deg);
    }
  }

  &-back, &-front {
    position: absolute;
  }

  &-back {
    backface-visibility: hidden;
    position: absolute;
    inset: 0;
    background-color: white;
    transform: translateZ(1px) rotateY(0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform $duration $delay ease-in-out;

    img {
      max-width: 100%;
    }
    &.color-1 { background: $back1; color: $white; }
    &.color-2 { background: $back2; }
    &.color-3 { background: $back3; }

    &.size-1 { h1 { font-size: 1.5rem } }
    &.size-2 { h1 { font-size: 2rem } }
    &.size-3 { h1 { font-size: 2.5rem } }

  }

  &-front {
    background: $orange;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    transition: transform $duration $delay ease-in-out;
    transform: rotateY(180deg);

    &-content {
      height: 100%;

      &-main {
        background: white;
        margin: 3rem;
        height: calc(100% - 14rem);
      }

      &-related {

        p {
          padding: 2rem 0;
          color: $white;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 1.2rem;
        }
        span {
          background: $beige2;
          padding: 1rem;
          margin-right: 1rem;
          font-size: 1.5rem;
        }
      }

      &-tags {
        display: flex;
        margin: 1rem 0;
        position: absolute;
        bottom: 0;

        &-tag {
          background: $orange;
          color: white;
          font-weight: bold;
          margin-right: 1rem;
          padding: .5rem;
        }
      }

      .close {
        position: absolute;
        bottom: 0;
        right: 0;
        color: $black;
        background: $beige2;
        text-transform: uppercase;
        border: none;
        padding: 1.5rem 2.5rem;
        margin: 3rem;
        font-size: 3rem;
        text-align: center;
        letter-spacing: .15rem;
        font-weight: 600;
      }
    }
  }
}