@import '../../index.scss';


.columns {
  touch-action: none;
  width: 100%;
  display: flex;
  height: calc(100vh - 8rem);
  overflow: hidden;
  position: absolute;
  top: 8rem;

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
  }

  &-column {
    flex: 1;
    overflow: hidden;
    height: 100%;
    margin: .5rem;
    &:first-child {
      margin-left: 1rem;
    }
    &:last-child {
      margin-right: 1rem;
    }

    &-entries {

      &-entry {
        background-color: gray;
        margin: 1rem 0;
        padding: 1rem;
        padding-bottom: 4rem;
        transition: background .5s, color .5s;
        cursor: pointer;

        &.color-1 { background: $back1; color: $white; }
        &.color-2 { background: $back2; }
        &.color-3 { background: $back3; }
        &.size-1 { h1 { font-size: 1.5rem } }
        &.size-2 { h1 { font-size: 2rem } }
        &.size-3 { h1 { font-size: 2.5rem } }

        &:first-child {
          margin: 0;
        }

        &.active {
          background: $orange;
          color: white;
        }

        img, video {
          width: 100%;
          margin: 1rem 0;
        }
      }
    }
  }
}