@import '../../../index.scss';

.text-entry {
  width: 100%;
  height: 100%;

  &-title {
    font-size: 3rem;
    padding: 5rem 5rem 2rem;
  }

  &-main {
    overflow-y: hidden;
    margin-right: 5rem;
    height: calc(100% - 15rem);
    pointer-events: none;
    position: relative;

    pre {
      column-width: calc(50vw - 20rem);
      column-gap: 5rem;
      height: 100%;
      white-space: wrap;
      font-size: 2rem;
      padding-left: 5rem;
      font-family: 'GT Super Display';
      line-height: 3rem;
      transition: transform 1s;
    }
    &-controls {
      pointer-events: all;
      position: absolute;   
      inset: 0;
      width: 100%;
      height: 100%;
      outline: 2px solid green;

      &-prev, &-next {
        position: absolute;
        top: 50%;
        width: 3rem;
        height: 3rem;
        transform: translateY(-50%);
      }
      &-prev {
        left: 0;
      }
      &-next {
right: 0;
      }
     }
   
  }

 
  &-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    background: $beige1;
    font-size: 2rem;
    width: 300px;
    padding: 1rem;
    display: none;
  }
}