.admin {
  // display: flex;/
  // flex-direction: co/lumn;
  // overflow-x: hidden;
  // overflow-y: scroll;
  // height: min-content;
  // position: absolute;
  // inset: 0;

  .table {
    width: 100%;
    height: calc(100% - 4rem);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 0;

    &-row {
      line-height: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: nowrap;

      &:nth-child(2n) {
        background: rgba(0, 0, 0, .05);
      }

      &-column {
        overflow: hidden;
        width: 200px;

        &:nth-child(3) {
          width: 80px;
        }

        &:first-child {
          white-space: nowrap;
        }

        &.actions {
          display: flex;
        }
        button {
          padding: .5rem;
          margin-right: 1rem;
          height: 2rem;
        }

        .type {
          background: gray;
          color: white;
          text-align: center;
          width: 5rem;
          display: inline-block;
          font-size: .75rem;
        }

        .tag {
          background: orange;
          color: white;
          padding: 0 .5rem;
          margin-right: .5rem;
          display: inline-block;
          font-size: .75rem;
        }
      }
    }
  }

  button {
    padding: .5rem 1rem;
    margin-right: 1rem;
  }

  .add-buttons {
    position: absolute;
    bottom: 0;
    margin: 1rem;
  }
}