@import '../../index.scss';

.search {

  input[type=text] {
    font-size: 2rem;
    z-index: 3;
    position: absolute;
    margin: 2rem;
    padding: .5rem;
    color: $orange;
  }

  .keyboard {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;

    .simple-keyboard {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1400px;
      height: 700px;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);

      .hg-rows {
        // height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .hg-row {
          .hg-button {
            height: 120px;
            font-size: 2rem;
          }
        }
      }

      
      span {
        
      }
    }
  }


}